<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link disabled" aria-current="page" href="#" aria-disabled="true">Movie List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/upload">Add Video</a>
  </li>
</ul>
<h3>Enjoy our Movies</h3>

<table class="table table-striped" style="width: 100%;">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
			<tr  *ngFor="let video of videos; index as i" >
				<th scope="row">
          <button type="button" class="btn btn-link" (click)="watchVideo(video.videoUrl)">
            <img
						src="../../assets/play.jpg"
						[alt]="video.title"
						class="me-2 hover circular-square"
						style="width: 40px; height: 40px;"
            [title]="video.title"
					/>
          </button>

        </th>
				<td>
					{{ video.title }}
				</td>
        <td>
					{{ video.description }}
				</td>
        <td>
          <button (click)="watchVideo(video.videoUrl)" class="btn btn-outline-primary btn-sm">Watch Now</button>
        </td>
			</tr>
      <tr *ngIf="videos.length == 0">
        <td colspan="4">No Video Found Yet. Click on Add Video to Upload</td>
      </tr>

	</tbody>
</table>




